  <div class="container">
    <div class="content">
      <div class="entry">
        <div class="td1">
          <img class="anh1" src="./assets/img/register.png" width="70px" height="70px"/>
          <h1>REGISTER</h1>
        </div>
        <form method="get" action="#">
          <label class="bang1">
            <img class="anh" src="./assets/img/username.png" width="70px" height="70px"/>
            <input type="text" name="Username" placeholder="Username" required/>
          </label>
          <br/>
          <label class="bang1">
            <img class="anh" src="./assets/img/pwd.png" width="70px" height="70px"/>
            <input type="password" name="Pasword" placeholder="........" required/>
          </label>
          <br/>
          <label class="bang1">
            <img class="anh" src="./assets/img/pwd.png" width="70px" height="70px"/>
            <input type="password" name="Pasword2" placeholder="................." required/>
          </label>
          <label class="bang1">
            <img class="anh" src="./assets/img/email.png" width="70px" height="70px"/>
            <input type="Email" name="E-mail" placeholder="E-mail" required/>
          </label>
          <br/>
          <label><input type="checkbox" class="checkbox1" name="nature" value="Ads revier"/>I agree to the Terms of Servicee</label>
          <br/>
          <button class="bt1" type="submit">SIGN UP</button>
          <br/>
          <h2> Already a memeber ? Login Here</h2>
        </form>
      </div>
    </div>
  </div>

